{% load static %}
{% load mptt_tags %}

<script>
    $(function () {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui)
    {
        var selectedObj = ui.item;
    }

</script>

<!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="full">

                          <a class="logo" href="/anasayfa"><img src="{% static 'images/logo.png'%}" alt="#" /></a>

                    </div>
                    <div class="header-search" style="padding: 10px">

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li class="dinone" style="padding: 3px"><a href="/">ANASAYFA</a></li>
                                <li class="dinone" style="padding: 3px"><a href="/hakkimizda">HAKKIMIZDA</a></li>
                                <li class="nav-item dropdown" style="padding: 3px">
                                    <a class="dinone text-uppercase pr-0 " id="navbarDropdownMenuLink" href="/dene" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dene
                                        <b class="caret"></b>
                                    </a>
                                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                        <a class=" dinone dropdown-item font-weight-bold" style="padding: 3px" href="index.html">Yiyecekler</a>
                                        <a class=" dinone dropdown-item font-weight-bold" style="padding: 3px" href="index.html">İçecekler</a>
                                        <a class=" dinone dropdown-item font-weight-bold" style="padding: 3px" href="index.html">Deneme
                                        </a>
                                    </div>
                                </li>
                                <li class="dinone" style="padding: 3px"><a href="/referanslar">REFERANSLAR</a></li>
                                <li class="dinone" style="padding: 3px"><a href="/iletisim">İLETİŞİM</a></li>
                                <li class="dinone" style="padding: 3px"><img style="margin-right: 15px;height: 21px;position: relative;top: -2px;" src="{% static 'images/location_icon.png'%}" alt="#"><a href="#">06 Ankara</a></li>
                                <li class="button_user" style="padding: 3px">
                                    <div class="ht-right">
                                        {% if user.id is not None %}
                                        <a href="/user" class="login-panel" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                                                {{ user.first_name }}
                                                <b class="caret"></b></a>
                                                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                                    <a class=" dinone dropdown-item" style="color: black" href="#">Hesabım</a>
                                                    <a class=" dinone dropdown-item" style="color: black" href="#">İstek listesi</a>
                                                    <a class=" dinone dropdown-item" style="color: black" href="#">Siparişlerim</a>
                                                    <a class=" dinone dropdown-item" style="color: black" href="#">Yorumlarım</a>
                                                    <a class=" dinone dropdown-item" style="color: black" href="/logout">Çıkış</a>
                                                </div>
                                        {% else %}
                                         <a href="/login" class="button active"><i class="fa fa-user"></i> Giriş</a>
                                        {% endif %}
                                        <a class="button" style="padding: 3px" href="/signup">Kayıt Ol</a>
                                    </div>

                                <li><button type="button" style="padding: 3px" id="sidebarCollapse"><img src="{% static 'images/menu_icon.png'%}" alt="#"></button></li>
                                <li>
                                    <form action="/search/" method="post">
                                        {% csrf_token %}
                                        <input id="query" name="query" class="search-query span2" type="text" size="8px" width="1px" placeholder="Arama">

                                        <select name="catid" class="input search-input" style="width: 150px;">
                                            <option value="0">Tüm Kategoriler</option>
                                            {% recursetree catagory %}
                                                {% if node.is_leaf_node %}
                                                    <option value="{{ node.id }}">{{ node.title }}</option>
                                                {% endif %}
                                                {% if not node.is_leaf_node %}
                                                    <optgroup label="{{ node.title }}">
                                                        {{ children }}
                                                    </optgroup>
                                                {% endif %}
                                            {% endrecursetree %}
                                        </select>



                                        <button class="icon-search" style="background: transparent">
                                            <img style="margin-right: 5px;" src="{% static 'images/search_icon.png'%}" alt="#">
                                        </button>
                                    </form>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->