{%  extends "homebase.html" %}

{% block title %}{{ product.title }} {%  endblock %}
{% block keywords %} {{ product.keywords }} {%  endblock %}
{% block description %} {{ product.description }} {%  endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <br/><br/><br/><br/><br/>
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa /</a></li>
                <li><a href="/">Ürünler /</a></li>
                <li><a href="/catagory/{{ product.catagory_id }}/{{ product.catagory.slug }}">{{ product.catagory }} / </a></li>
                <li class="active">{{ product.title }}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->


    <!-- section -->
    <div class="section">
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about_img">
                        <figure><img src="{{ product.image.url }}" style="height: 320px"></figure>
                        <br/><br/>
                        <div data-slider="1" class="owl-carousel items-slider owl-drag">
                            <div class="item">
                                <button class="owl-thumb-item "><img src=" {{ product.image.url }} " alt="shirt" style="height: 80px " hspace="10px" ></button>
                            </div>
                            {% for rs in images %}
                            <div class="item">
                                <button class="owl-thumb-item"><img src=" {{ rs.image.url }} " alt="shirt" style="height: 80px " hspace="10px" ></button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" roles="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <br/><br/><br/><br/>
                    <div class="about_box">
                        <a href="/restaurant/{{ product.restaurant.id }}/{{ product.restaurant.slug }}"><img src="{{ product.restaurant.image.url }}" style="height: 100px" align="right"></a>
                        <h1><a class style="color: yellow">{{ product.title }}</a></h1>
                        <p>{{ product.detail | safe }}</p>
                        <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
                            <ul class="price list-inline no-margin">
                                <li class="align-text-top">{{ product.price }} ₺</li>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                            <form action="/order/addtocard/{{ product.id }}" method="post">
                                {% csrf_token %}
                                <div class="quantity d-flex align-items-center">
                                    <a class="align-text-top">
                                        <h3>Adet : </h3></a>
                                    <input name="quantity" class="input" style="width: 80px; padding: 8px" type="number" min="0" max="{{ product.amount }}" value="1" >

                                <br/><br/><br/><br/>
                                    <ul><button type="submit" class="cke_button__anchor_icon"><i class="icon-cart"></i>Add to Cart</button></ul>
                                </div>
                            <ul style="padding: 60px"><a href="#" class="btn btn-template-outlined wide"> <i class="fa fa-heart-o"></i>Add to wishlist</a></ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/><br/><br/><br/>
        <div class="container">
            <div class="row">

                <section class="product-description no-padding">
                    <div class="container">
                        <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
                            <li class="nav-item"><a data-toggle="tab" href="#description" role="tab" class="nav-link active">Description</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#additional-information" role="tab" class="nav-link">Additional Information</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#reviews" role="tab" class="nav-link">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="description" role="tabpanel" class="tab-pane active">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>

                            <div id="additional-information" role="tabpanel" class="tab-pane">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th class="border-0">Material:</th>
                                        <td class="border-0">Cotton</td>
                                    </tr>
                                    <tr>
                                        <th>Styles:</th>
                                        <td>Casual</td>
                                    </tr>
                                    <tr>
                                        <th>Properties:</th>
                                        <td>Short Sleeve</td>
                                    </tr>
                                    <tr>
                                        <th>Brand:</th>
                                        <td>Calvin Klein</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="reviews" role="tabpanel" class="tab-pane" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- dongu -->
                                        {% for rs in comments %}
                                        <div class="row review">
                                            <div class="col-2 text-center"><span class="text-uppercase text-muted text-small">{{ rs.create_at }}</span></div>
                                                <div class="col-8 review-text">
                                                    <h6>{{ rs.user.first_name }}</h6>
                                                    <div class="mb-2">
                                                        <i class="fa fa-star{% if rs.rate < 1 %}-o text-primary{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 2 %}-o text-primary{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 3 %}-o text-primary{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 4 %}-o text-primary{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 5 %}-o text-primary{% endif %}"></i>
                                                    </div>
                                                    <p class="text-muted text-small">{{ rs.comment }}<br/></p>
                                                </div>
                                        </div>
                                        {% endfor %}
                                        <!-- /dongu -->

                                    </div>
                                    <br><br>

                                    <div class="row review">
                                        <div class="col-md-7">
                                            <h4 class="text-uppercase">Write Your Review</h4>

                                            <p>Lütfen form göndererek değerlendirme yapın </p>

                                            {% if messages %}
                                                {%for message in messages%}
                                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                            <form class="review-form" action="/product/addcomment/{{ product.id }}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input class="input" type="text" name="subject" id="id_subject" placeholder="Subject">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="input" name="comment" id="id_comment" placeholder="Your review"></textarea>
                                                </div>
                                                    <div class="input-rating">
                                                        <strong class="text-uppercase">Your Rating: </strong>

                                                            <section class="rate">
                                                                <input type="radio" id="star5" name="rate" value="5" /><label for="star5" title="5 stars"></label>
                                                                <input type="radio" id="star4" name="rate" value="4" /><label for="star4" title="4 stars"></label>
                                                                <input type="radio" id="star3" name="rate" value="3" /><label for="star3" title="3 stars"></label>
                                                                <input type="radio" id="star2" name="rate" value="2" /><label for="star2" title="2 stars"></label>
                                                                <input type="radio" id="star1" name="rate" value="1" /><label for="star1" title="1 star"></label>
                                                            </section>

                                                    </div>
                                                    <br/><br/><br/>

                                                    {% if user.id is not None %}
                                                        <button class="main_bt">Submit</button>
                                                    {% else %}
                                                        <b>Yorum Eklemek için <a href="/login">Login</a> olunuz!</b>
                                                    {% endif %}

                                            </form>

                                            <br/><br/><br/>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="share-product gray-bg d-flex align-items-center justify-content-center flex-column flex-md-row"><strong class="text-uppercase">Share this on</strong>
                                <ul class="list-inline text-center">
                                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


