{%  extends "homebase.html" %}

{% block title %}{{ profile.user_name }} {%  endblock %}
{% block keywords %} {{ setting.keywords }} {%  endblock %}
{% block description %} {{ setting.description }} {%  endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}

<div class="span3">
        {% include "user_panel.html" %}
    </div>
    <div class="span9">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <p>
                    {{ field.label_tag }} <br>
                    {{ field }}

                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
        <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
        </form>
    </div>
{% endblock %}