{%  extends "homebase.html" %}

{% block title %}{{ profile.user_name }} Sipariş Listesi {%  endblock %}
{% block keywords %} {{ setting.keywords }} {%  endblock %}
{% block description %} {{ setting.description }} {%  endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">Kullanıcı Siparişleri</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
                <div class="row">

                    <div class="col-md-2" >
                        <br/><br/><br/>
                        <div class="product_blog_cont">
                            <div class="section-title">
                                <h2><span class="theme_color">Kullanıcı Profili</span></h2>
                            </div>
                            {% include "user_panel.html" %}

                        </div>
                    </div>

                    <div class="col-md-10">
                        <br/><br/><br/>
                        <div class="product_blog_cont">
                            <div class="section-title">
                                <h2><span class="theme_color">Kullanıcı Siparişleri</span></h2>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-left">Product </th>
                                    <th class="text-left">Rate </th>
                                    <th class="text-left">Subject </th>
                                    <th class="text-left">Comment </th>
                                    <th class="text-left">Status </th>
                                    <th class="text-left">Date </th>
                                    <th class="text-left">Datail </th>
                                </tr>
                                {% for rs in comments %}
                                <tr>
                                    <td class="text-left">
                                        <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                            <strong>{{ rs.product.title }}</strong>
                                        </a>
                                    </td>
                                    <td class="text-left">{{ rs.rate }}</td>
                                    <td class="text-left">{{ rs.subject }}</td>
                                    <td class="text-left">{{ rs.comment }}</td>
                                    <td class="text-left">{{ rs.status }}</td>
                                    <td class="text-left">{{ rs.create_at }}</td>
                                    <td class="text-left"><a class="btn" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Silmek istediğine Emin misin?')"> Delete </a></td>
                                </tr>
                                {% endfor %}
                                </thead>
                            </table>

                        </div>
                </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    </div>
{% endblock %}