{% extends 'homebase.html' %}

{% block title %} SHOP CART {{ setting.company }} {% endblock %}
{% block keywords %} {{ catagorydata.keywords }} {% endblock %}
{% block description %} {{ catagorydata.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block content %}


    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">Sipariş Formu</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <br/><br/><br/>
                    <h6 class="title">Degerli Müşterimiz;</h6><br>
                    <h6>Satin alma işlemin başarı ile gerçekleştirmiştir.</h6>
                    <h4>Sipariş Kodu: {{ordercode}}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}