{%  extends "homebase.html" %}

{% block title %}{{ profile.user_name }} {%  endblock %}
{% block keywords %} {{ setting.keywords }} {%  endblock %}
{% block description %} {{ setting.description }} {%  endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    </ol>
                    <!-- btn -->
                </div>
            </div>
        </div>
    </div>
    <section class="single_product_details_area section_padding_0_100">
        <div class="container">
            <div class="row">
                 <div class="col-12 col-md-6">
                    <div class="single_product_desc">

                <h6 class="title">Degerli Müşteri;</h6><br>
                <h6>Satin alma işlemin başarı ile gerçekleştirmiştir.</h6>
                <h4>Sipariş Kodu: {{ordercode}}</h4>

                    </div>
                 </div>
            </div>
        </div>
    </section>


{% endblock %}