{% extends 'homebase.html' %}

{% block title %} SHOP CART {{ setting.company }} {% endblock %}
{% block keywords %} {{ catagorydata.keywords }} {% endblock %}
{% block description %} {{ catagorydata.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block content %}


    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">{{ catagorydata.title }}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <table cellpadding="3" width="1200">

                <br/><br/><br/>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                <br/><br/><br/>
                <tbody>
                    {% for rs in shopcart %}
                        <tr>
                            <td><img src="{{ rs.product.image.url }}" style="width: 100px; height: 100px;" alt=""></td>
                            <td><h4 class="product-name"><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.product.title }}</a></h4></td>
                            <td><a href="/catagory/{{ rs.catagory_id }}/{{ rs.catagory.slug }}"> {{ rs.product.catagory }}</a> </td>
                            <td>{{ rs.quantity }}</td>
                            <td><h4>{{ rs.amount }}</h4></td>
                            <td class="text-right"><a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Silmek istediğine Emin misin?')" class="main_bt cke_button__anchor_icon"><i class="fa fa-close cke_button__anchor_icon"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="empty-form" colspan="3"></th>
                        <th>SUBTOTAL</th>
                        <th aria-colspan="2" class="total">{{ total }}</th>
                    </tr>
                    <tr>
                        <th class="empty-form" colspan="3"></th>
                        <th>TOTAL</th>
                        <th aria-colspan="2">{{ total }}</th>
                    </tr>
                    <tr>
                        <th class="empty-form" colspan="3"></th>
                        <th><a class="main_bt" style="padding: 3px" href="/order/orderproduct">Siparişi Tamamla</a></th>
                    </tr>


                </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}